[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/influxdb-cxx"]
	path = deps/influxdb-cxx
	url = https://github.com/Bart97/influxdb-cxx.git
